.video-player {
  width: 60%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
}

.youtube {
  width: 100%;
  height: 450px;
  display: block;
}

.add-button {
  float: right;
  color: rgb(32, 23, 20);
  cursor: pointer;
}

.main{
  display: flex;
  margin-right: 50px;
}

li {
  font-size: large;
}